.main_banner {
    height: 50vh;
    width: 100vw;
    background: url('/public/assets/images/Recurso 17.jpg') no-repeat right;
    background-size: cover;
}

@media screen and (min-width: 640px) {
    .main_banner {
        height: 100vh;
    }
}
