.section1__img {
    width: 100vw;
}

.slide1 .slide img {
    width: 100%;
    height: 100%;
}

.slide1__title,
.slide1__subtitle {
    font-size: 28px;
}

.slide1__subtitle {
    margin-top: -10px;
}

@media screen and (min-width: 840px) {
    .section1__wrapper {
        height: 100vh;
    }
    .section1__img {
        height: 95vh;
        width: 350px;
    }

    .slide1 .slide {
        overflow: hidden;
        width: 270px;
    }
    .slide1 .slide img {
        width: 100%;
        height: 320px;
    }
}

@media screen and (min-width: 1200px) {
    .section1__img {
        width: 390px;
    }

    .slide1 .slide {
        width: 340px;
    }
    .slide1 .slide img {
        height: 390px;
    }

    .slide1__title,
    .slide1__subtitle {
        font-size: 32px;
    }
    .slide1__subtitle {
        margin-top: -14px;
    }
}

@media screen and (min-width: 1400px) {
    .section1__img {
        width: 490px;
    }

    .slide1 .slide {
        width: 440px;
    }
    .slide1 .slide img {
        height: 490px;
    }

    .slide1__title,
    .slide1__subtitle {
        font-size: 45px;
    }
}
