:root {
    --text-medium: 500;
    --text-regular: 400;
    --text-light: 300;

    --white: #ffffff;
    --gray: #9a9a9a;
    --blue: #003f8d;
}

* {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    overflow-x: hidden;
}

.text-blue {
    color: var(--blue);
}
