:root {
    --text-medium: 500;
    --text-regular: 400;
    --text-light: 300;

    --white: #ffffff;
    --gray: #9a9a9a;
    --blue: #052aa4;
    --light-gray: #e0e0e4;
}

* {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    overflow-x: hidden;
}

.text-blue {
    color: var(--blue);
}
